<div>
    <h1>Poetry</h1>
    <p>
        During my undergraduate degree at Stevens, I somehow found myself in a poetry class and fell in love with it. I ended up taking every single poetry class until I had to take independent study credit hours, spending a whole semester on just the poem Song of Myself by Walt Whitman. This is how I accidentally received a minor in literature.  
    </p>
    <p>
        However, all my classes were about reading and analyzing poetry, so now every week, my friends and I try to write one, share it, and give each other feedback. Here is a selection of poems that I have written. 
    </p>
    {% for post in site.poems reversed %}
    <article class="post">
    {% if post.img %}
        <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
        <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
        <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
    </div>
    </article>
    {% endfor %}
</div>